@import "./variables.scss";
.backgroundImg {
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
    background-image: url("../img/bagground.png");
    background-repeat:no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 50px;
    position: relative;
    .logoWrapper{
        position: absolute;
        bottom: 270px;
        left: 0;
    }
    
}

.wrapperButton {
    background-color: $primary;
    border: none;
    width: 240px;
    padding: 20px 0;
    border-radius: 8px;
    animation: fadeIn 1500ms;
}

@keyframes fadeIn {
    0%{opacity: 0;}
    100%{opacity: 1;}
}